# Conjuring Data
I've been loving Medium's selection of Data Science articles. Figured I'd hop in on the fun. This article will try and focus on the magical ways we can use Python to get our hands on data to play with. The ability to read in data from various sources, combining & visualizing then annotating it all to tell a compelling story is pretty much magic. 

(Yes, I'm leaning in to this whole magic thing) 

This article will focus on Conjuration. In non-metaphorical terms: We'll look into the various sources of raw data, find a real world example of data you can access (for free) in that format, & then outline the code needed to get that data ready to go. 

So the methods we'll focus on are: Reading flat files, Querying with SQL, Hitting and API & Scraping data from the web. 

Data Sources chosen are: Zillow, IRS, google finance

The choices in Data Sources are purely arbitrary. Chances are if you can think of a dataset you wish you had access to, then it exists. So look around! though beware that most of the time someone will want to be paid.

## 1. Read in files
Flat files! there are countless reasons why you'd have a flat file. These are typicaly `.CSV`s with a header and many rows of data. Though sometimes it's a `.txt` file. The key thing is that you have rows of values that have a delimiter to split out the values on each row & then either a new line for each row or a special delimiter to indicate that the next row has begun. 

We will use [Zillow Home Value Index](https://www.zillow.com/research/data/)
 to demonstrate how to work with flat files.


*  ### pd.read_csv()
Plain Text files are easy. `.CSV` files are the most common & Pandas' `pd.read_csv()` function should be all you need. There are other types of plain text files. maybe you have a tab-separated (`\t`) one, or maybe one that uses `|` or ` `. The separator can be specified using the `sep = ""` argument. While the name of the function seems to imply that it can only read  `.CSV`s it'll actuallt work with any file that's formatted appropriately.

In [1]:
import pandas as pd

df = pd.read_csv('data/Neighborhood_MedianListingPrice_BottomTier.csv')
df.head(3)

,RegionName,City,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04
0,Northeast Dallas,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,1,NaN,NaN,NaN,NaN,...,129500.0,121250.0,125000.0,127000.0,139000.0,129900.0,135000.0,139500.0,148000.0,145750.0
1,Maryvale,Phoenix,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,2,NaN,NaN,NaN,NaN,...,175000.0,177126.0,179250.0,179900.0,180000.0,180000.0,180000.0,182100.0,185000.0,187000.0
2,Paradise,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,3,72500.0,68900.0,67400.0,66700.0,...,149444.0,149000.0,151000.0,159000.0,159888.0,165000.0,160000.0,157500.0,159900.0,159900.0

*  ### Complex Files
Sometimes we work with files that are a bit more intricate. We'll look at Excel files. Most of the time it's easier to convert our complex file into a plain test one & then play around. Since Excel is so popular, smart people have already figured out all the details & shared them with the community.

*  ### Combining Files
if your data is spread accriss a bunch of files and folders, you can loop through read and combine them pretty easily. here's how

## 2. Query a DataBase

* ### Types of DBs
It really doesn't matter. After all, SQL is SQL. Drivers & authentication can suck though. I'd show you how to connect to the many DBs I use at work but I doubt my compliance team would like that. Instead I spun off a few local DBs & will use those to show you how to connect. You'll need to modify some stuff (Drivers/Host/Port/Username/Password) to be able to work with DBs.

* ### Connecting

* ### SQL to DataFrame

## 3. Use an API

* ### Find the API

* ### Connect

* ### Ask & Recieve

## 4.Web Scraping

* ### An Act of desparation

* ### Inspect page & get XPath

* ### Retrieve Text

* ### Retrieve Files

* ### Take Screenshots

* ### Create a DF & Save to flat file.